@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);

@layer properties {
	@supports (((-webkit-hyphens:none)) and (not (margin-trim:inline))) or ((-moz-orient:inline) and (not (color:rgb(from red r g b)))) {

		*,
		::backdrop,
		:after,
		:before {
			--tw-scale-x: 1;
			--tw-scale-y: 1;
			--tw-scale-z: 1;
			--tw-rotate-x: initial;
			--tw-rotate-y: initial;
			--tw-rotate-z: initial;
			--tw-skew-x: initial;
			--tw-skew-y: initial;
			--tw-space-y-reverse: 0;
			--tw-border-style: solid;
			--tw-gradient-position: initial;
			--tw-gradient-from: #0000;
			--tw-gradient-via: #0000;
			--tw-gradient-to: #0000;
			--tw-gradient-stops: initial;
			--tw-gradient-via-stops: initial;
			--tw-gradient-from-position: 0%;
			--tw-gradient-via-position: 50%;
			--tw-gradient-to-position: 100%;
			--tw-leading: initial;
			--tw-font-weight: initial;
			--tw-backdrop-blur: initial;
			--tw-backdrop-brightness: initial;
			--tw-backdrop-contrast: initial;
			--tw-backdrop-grayscale: initial;
			--tw-backdrop-hue-rotate: initial;
			--tw-backdrop-invert: initial;
			--tw-backdrop-opacity: initial;
			--tw-backdrop-saturate: initial;
			--tw-backdrop-sepia: initial;
			--tw-duration: initial;
			--tw-ease: initial
		}
	}
}

@layer theme {

	:host,
	:root {
		--font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
		--color-gray-100: #f7f7f7;
		--color-gray-200: #f8f8f8;
		--color-gray-300: #e7e6e6;
		--color-gray-700: #333;
		--color-gray-900: #282828;
		--color-black: #000;
		--color-white: #fff;
		--spacing: .25rem;
		--container-sm: 24rem;
		--container-md: 28rem;
		--container-lg: 32rem;
		--container-xl: 36rem;
		--container-2xl: 42rem;
		--container-3xl: 48rem;
		--container-4xl: 56rem;
		--container-5xl: 64rem;
		--container-6xl: 72rem;
		--container-7xl: 80rem;
		--text-3xl: 1.875rem;
		--text-3xl--line-height: 1.2;
		--text-5xl: 3rem;
		--text-5xl--line-height: 1;
		--font-weight-light: 300;
		--font-weight-normal: 400;
		--font-weight-medium: 500;
		--font-weight-extrabold: 800;
		--leading-tight: 1.25;
		--ease-in-out: cubic-bezier(.4, 0, .2, 1);
		--default-transition-duration: .15s;
		--default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
		--default-font-family: var(--font-sans);
		--default-mono-font-family: var(--font-mono);
		--color-limeGreen: #a6ef00;
		--color-neonGreen: #32de9b;
		--color-primaryGreen: #00a870;
		--color-dullGreen: #2b816d;
		--color-darkGreen: #0a5a5a;
		--color-primaryBlue: #285aea
	}
}

*,
	::backdrop,
	:after,
	:before {
		box-sizing: border-box;
		border: 0 solid;
		margin: 0;
		padding: 0
	}

	::file-selector-button {
		box-sizing: border-box;
		border: 0 solid;
		margin: 0;
		padding: 0
	}

	.omada-landing html,
	:host {
		-webkit-text-size-adjust: 100%;
		-moz-tab-size: 4;
		tab-size: 4;
		line-height: 1.5;
		font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
		font-feature-settings: var(--default-font-feature-settings, normal);
		font-variation-settings: var(--default-font-variation-settings, normal);
		-webkit-tap-highlight-color: transparent
	}

	.omada-landing .widgets-top-banner {
		display: none !important;
	}

	.omada-landing hr {
		height: 0;
		color: inherit;
		border-top-width: 1px
	}

	.omada-landing abbr:where([title]) {
		-webkit-text-decoration: underline dotted;
		text-decoration: underline dotted
	}

	.omada-landing h1,
	.omada-landing h2,
	.omada-landing h3,
	.omada-landing h4,
	.omada-landing h5,
	.omada-landing h6 {
		font-size: inherit;
		font-weight: inherit
	}

	.omada-landing a {
		color: inherit;
		-webkit-text-decoration: inherit;
		text-decoration: inherit
	}

	.omada-landing b,
	.omada-landing strong {
		font-weight: bolder
	}

	.omada-landing code,
	.omada-landing kbd,
	.omada-landing pre,
	.omada-landing samp {
		font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
		font-feature-settings: var(--default-mono-font-feature-settings, normal);
		font-variation-settings: var(--default-mono-font-variation-settings, normal);
		font-size: 1em
	}

	.omada-landing small {
		font-size: 80%
	}

	.omada-landing sub,
	.omada-landing sup {
		vertical-align: baseline;
		font-size: 75%;
		line-height: 0;
		position: relative
	}

	.omada-landing sub {
		bottom: -.25em
	}

	.omada-landing sup {
		top: -.5em
	}

	.omada-landing table {
		text-indent: 0;
		border-color: inherit;
		border-collapse: collapse
	}

	:-moz-focusring {
		outline: auto
	}

	.omada-landing progress {
		vertical-align: baseline
	}

	.omada-landing summary {
		display: list-item
	}

	.omada-landing menu,
	.omada-landing ol,
	.omada-landing ul {
		list-style: none
	}

	.omada-landing audio,
	.omada-landing canvas,
	.omada-landing embed,
	.omada-landing iframe,
	.omada-landing img,
	.omada-landing object,
	.omada-landing svg,
	.omada-landing video {
		vertical-align: middle;
		display: block
	}

	.omada-landing img,
	.omada-landing video {
		max-width: 100%;
		height: auto
	}

	.omada-landing button,
	.omada-landing input,
	.omada-landing optgroup,
	.omada-landing select,
	.omada-landing textarea {
		font: inherit;
		font-feature-settings: inherit;
		font-variation-settings: inherit;
		letter-spacing: inherit;
		color: inherit;
		opacity: 1;
		background-color: #0000;
		border-radius: 0
	}

	::file-selector-button {
		font: inherit;
		font-feature-settings: inherit;
		font-variation-settings: inherit;
		letter-spacing: inherit;
		color: inherit;
		opacity: 1;
		background-color: #0000;
		border-radius: 0
	}

	:where(select:is([multiple], [size])) optgroup {
		font-weight: bolder
	}

	:where(select:is([multiple], [size])) optgroup option {
		padding-inline-start: 20px
	}

	::placeholder {
		opacity: 1
	}

	@supports (not ((-webkit-appearance:-apple-pay-button))) or (contain-intrinsic-size:1px) {
		::placeholder {
			color: currentColor
		}

		@supports (color:color-mix(in lab, red, red)) {
			::placeholder {
				color: color-mix(in oklab, currentcolor 50%, transparent)
			}
		}
	}

	textarea {
		resize: vertical
	}

	::-webkit-search-decoration {
		-webkit-appearance: none
	}

	::-webkit-date-and-time-value {
		min-height: 1lh;
		text-align: inherit
	}

	::-webkit-datetime-edit {
		display: inline-flex;
		padding-block: 0
	}

	::-webkit-datetime-edit-fields-wrapper {
		padding: 0
	}

	::-webkit-datetime-edit-year-field {
		padding-block: 0
	}

	::-webkit-datetime-edit-month-field {
		padding-block: 0
	}

	::-webkit-datetime-edit-day-field {
		padding-block: 0
	}

	::-webkit-datetime-edit-hour-field {
		padding-block: 0
	}

	::-webkit-datetime-edit-minute-field {
		padding-block: 0
	}

	::-webkit-datetime-edit-second-field {
		padding-block: 0
	}

	::-webkit-datetime-edit-millisecond-field {
		padding-block: 0
	}

	::-webkit-datetime-edit-meridiem-field {
		padding-block: 0
	}

	:-moz-ui-invalid {
		box-shadow: none
	}

	.omada-landing button,
	.omada-landing input:where([type=button], [type=reset], [type=submit]) {
		-webkit-appearance: button;
		-moz-appearance: button;
		appearance: button
	}

	::file-selector-button {
		margin-inline-end: 4px;
		-webkit-appearance: button;
		-moz-appearance: button;
		appearance: button
	}

	::-webkit-inner-spin-button {
		height: auto
	}

	::-webkit-outer-spin-button {
		height: auto
	}

	[hidden]:where(:not([hidden=until-found])) {
		display: none !important
	}

	.omada-landing main {
		color: var(--color-gray-900);
		font-family: Manrope, sans-serif
	}

	.omada-landing h1 {
		font-size: clamp(1.75rem, 5vw + 1rem, 3.75rem);
		font-weight: 300;
		line-height: 1.1
	}

	.omada-landing h2 {
		font-size: clamp(1.75rem, 4vw + .8rem, 3rem);
		font-weight: 300;
		line-height: 1.3
	}

	.omada-landing h3 {
		font-size: clamp(1.5rem, 3.5vw + .6rem, 2rem);
		font-weight: 300;
		line-height: 1.3
	}

	.omada-landing h4 {
		font-size: clamp(1.25rem, 2vw + .5rem, 1.5rem);
		font-weight: 400;
		line-height: 1.375
	}

	@media (max-width: 1920px) {
		.omada-landing h1 {
			font-size: clamp(1.75rem, 5vw + 1rem, 2.8rem);
		}

		.omada-landing h2 {
			font-size: clamp(1.5rem, 3vw + .8rem, 2.2rem);
		}

		.omada-landing h3 {
			font-size: clamp(1.25rem, 2vw + .6rem, 1.5rem);
		}

		.omada-landing h4 {
			font-size: clamp(1.15rem, 1vw + .6rem, 1.3rem);
		}
	}


	.omada-landing li,
	.omada-landing p {
		font-size: clamp(.875rem, 1vw + .2rem, 1rem);
		font-weight: 400
	}

	.omada-landing .large-paragraph {
		font-size: clamp(.975rem, 1vw + .2rem, 1.25rem);
		font-weight: 400
	}

	.omada-landing .small-paragraph {
		font-size: clamp(.8rem, 1vw + .2rem, .9rem);
		font-weight: 400
	}

	.omada-landing .subheading {
		font-size: clamp(.875rem, 1vw + .2rem, 1rem);
		font-weight: 800
	}

	.omada-landing .link {
		color: var(--color-primaryBlue);
		text-underline-offset: 4px;
		font-weight: 400;
		text-decoration: underline;
		transition: .2s ease-in-out
	}

	.omada-landing .link:hover {
		color: var(--color-primaryGreen)
	}

	.omada-landing .main-container {
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
		display: flex
	}

	.omada-landing .section-container {
		width: 100%
	}

	.omada-landing .btn-primary {
		background-color: var(--color-primaryGreen);
		color: #fff;
		border-radius: .25rem;
		padding: .5rem 1rem;
		font-weight: 500;
		font-size: clamp(.975rem, 1vw + .2rem, 1.25rem)
	}

	.omada-landing .container-row-to-col {
		flex-direction: row;
		display: flex
	}

	.omada-landing .input-container {
		flex-direction: column;
		gap: .5rem;
		margin-bottom: 1rem;
		margin-right: 1rem;
		display: flex
	}

	.omada-landing .label-text {
		font-size: clamp(.8rem, 1vw + .2rem, .9rem);
		font-weight: 500
	}

	.omada-landing .input {
		background: var(--color-gray-300);
		border-radius: .25rem;
		width: 100%;
		padding: .5rem 1rem
	}

	@media screen and (max-width:768px) {
		.omada-landing .container-row-to-col {
			flex-direction: column
		}
	}

.omada-landing .from-darkGreen,
	.omada-landing .to-dullGreen {
		--tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from)var(--tw-gradient-from-position), var(--tw-gradient-to)var(--tw-gradient-to-position))
	}

	.omada-landing .transition,
	.omada-landing .transition-all,
	.omada-landing .transition-transform {
		transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
		transition-duration: var(--tw-duration, var(--default-transition-duration))
	}

	.absolute {
		position: absolute
	}

	.omada-landing .relative {
		position: relative
	}

	.omada-landing .static {
		position: static
	}

	.omada-landing .inset-0 {
		inset: calc(var(--spacing)*0)
	}

	.omada-landing .top-0 {
		top: calc(var(--spacing)*0)
	}

	.omada-landing .top-3 {
		top: calc(var(--spacing)*3)
	}

	.omada-landing .right-0 {
		right: calc(var(--spacing)*0)
	}

	.omada-landing .right-2 {
		right: calc(var(--spacing)*2)
	}

	.omada-landing .left-4 {
		left: calc(var(--spacing)*4)
	}

	.omada-landing .z-10 {
		z-index: 10
	}

	.omada-landing .z-20 {
		z-index: 20
	}

	.omada-landing .m-auto {
		margin: auto
	}

	.omada-landing .mr-auto {
		margin-right: auto
	}

	.omada-landing .mx-3 {
		margin-inline: calc(var(--spacing)*3)
	}

	.omada-landing .mx-auto {
		margin-inline: auto
	}

	.omada-landing .mt-2 {
		margin-top: calc(var(--spacing)*2)
	}

	.omada-landing .mt-4 {
		margin-top: calc(var(--spacing)*4)
	}

	.omada-landing .mt-6 {
		margin-top: calc(var(--spacing)*6)
	}

	.omada-landing .mt-8 {
		margin-top: calc(var(--spacing)*8)
	}

	.omada-landing .mt-12 {
		margin-top: calc(var(--spacing)*12)
	}

	.omada-landing .mb-2 {
		margin-bottom: calc(var(--spacing)*2)
	}

	.omada-landing .mb-6 {
		margin-bottom: calc(var(--spacing)*6)
	}

	.omada-landing .ml-2 {
		margin-left: calc(var(--spacing)*2)
	}

	.omada-landing .block {
		display: block
	}

	.omada-landing .contents {
		display: contents
	}

	.omada-landing .flex {
		display: flex
	}

	.omada-landing .grid {
		display: grid
	}

	.omada-landing .hidden {
		display: none
	}

	.omada-landing .inline-block {
		display: inline-block
	}

	.omada-landing .h-16 {
		height: calc(var(--spacing)*16)
	}

	.omada-landing .h-52 {
		height: calc(var(--spacing)*52)
	}

	.omada-landing .h-fit {
		height: fit-content
	}

	.omada-landing .w-52 {
		width: calc(var(--spacing)*52)
	}

	.omada-landing .w-fit {
		width: fit-content
	}

	.omada-landing .w-full {
		width: 100%
	}

	.omada-landing .h-full {
		height: 100%
	}

	.omada-landing .max-w-xl {
		max-width: var(--container-xl)
	}
	.omada-landing .max-w-2xl {
		max-width: var(--container-2xl)
	}

	.omada-landing .max-w-5xl {
		max-width: var(--container-5xl)
	}

	.omada-landing .max-w-7xl {
		max-width: var(--container-7xl)
	}

	.omada-landing .max-w-\[80\%\] {
		max-width: 80%
	}

	.omada-landing .max-w-\[1920px\] {
		max-width: 1920px
	}

	.omada-landing .max-w-sm {
		max-width: var(--container-sm)
	}

	.omada-landing .max-w-md {
		max-width: var(--container-md)
	}

	.omada-landing .grow {
		flex-grow: 1
	}

	.omada-landing .scale-70 {
		--tw-scale-x: 70%;
		--tw-scale-y: 70%;
		--tw-scale-z: 70%;
		scale: var(--tw-scale-x) var(--tw-scale-y)
	}

	.omada-landing .scale-75 {
		--tw-scale-x: 75%;
		--tw-scale-y: 75%;
		--tw-scale-z: 75%;
		scale: var(--tw-scale-x) var(--tw-scale-y)
	}

	.omada-landing .transform {
		transform: var(--tw-rotate-x, ) var(--tw-rotate-y, ) var(--tw-rotate-z, ) var(--tw-skew-x, ) var(--tw-skew-y, )
	}

	.omada-landing .list-disc {
		list-style-type: disc
	}

	.omada-landing .grid-cols-1 {
		grid-template-columns: repeat(1, minmax(0, 1fr))
	}

	.omada-landing .grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr))
	}

	.omada-landing .grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr))
	}

	.omada-landing .grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr))
	}

	.omada-landing .flex-col {
		flex-direction: column
	}

	.omada-landing .flex-row {
		flex-direction: row
	}

	.omada-landing .flex-wrap {
		flex-wrap: wrap
	}

	.omada-landing .items-center {
		align-items: center
	}

	.omada-landing .items-end {
		align-items: flex-end
	}

	.omada-landing .items-start {
		align-items: flex-start
	}

	.omada-landing .justify-between {
		justify-content: space-between
	}

	.omada-landing .justify-center {
		justify-content: center
	}

	.omada-landing .gap-2 {
		gap: calc(var(--spacing)*2)
	}

	.omada-landing .gap-3 {
		gap: calc(var(--spacing)*3)
	}

	.omada-landing .gap-4 {
		gap: calc(var(--spacing)*4)
	}

	.omada-landing .gap-6 {
		gap: calc(var(--spacing)*6)
	}

	.omada-landing .gap-8 {
		gap: calc(var(--spacing)*8)
	}

	.omada-landing .gap-12 {
		gap: calc(var(--spacing)*12)
	}

	:where(.omada-landing .space-y-2>:not(:last-child)) {
		--tw-space-y-reverse: 0;
		margin-block-start: calc(calc(var(--spacing)*2)*var(--tw-space-y-reverse));
		margin-block-end: calc(calc(var(--spacing)*2)*calc(1 - var(--tw-space-y-reverse)))
	}

	.omada-landing .aspect-video {
		aspect-ratio: 16/9
	}

	.omada-landing .self-center {
		align-self: center
	}

	.omada-landing .self-start {
		align-self: flex-start
	}

	.omada-landing .overflow-hidden {
		overflow: hidden
	}

	.omada-landing .rounded-full {
		border-radius: 3.40282e38px
	}

	.omada-landing .border {
		border-style: var(--tw-border-style);
		border-width: 1px
	}

	.omada-landing .border-b {
		border-bottom-style: var(--tw-border-style);
		border-bottom-width: 1px
	}

	.omada-landing .border-b-3 {
		border-bottom-style: var(--tw-border-style);
		border-bottom-width: 2px
	}

	.omada-landing .border-gray-200 {
		border-color: var(--color-gray-200)
	}

	.omada-landing .border-neonGreen {
		border-color: var(--color-neonGreen)
	}

	.omada-landing .border-primaryGreen {
		border-color: var(--color-primaryGreen)
	}

	.omada-landing .border-white\/20 {
		border-color: #fff3
	}

	.omada-landing .bg-black\/50 {
		background-color: #00000080
	}
	
	.omada-landing .bg-gray-900 {
		background-color: var(--color-gray-900)
	}

	.omada-landing .bg-dullGreen\/10 {
		background-color: #2b816d1a
	}

	.omada-landing .bg-gray-100 {
		background-color: var(--color-gray-100)
	}

	.omada-landing .bg-gray-200 {
		background-color: var(--color-gray-200)
	}

	.omada-landing .bg-gradient-to-b {
		--tw-gradient-position: to bottom in oklab;
		background-image: linear-gradient(var(--tw-gradient-stops))
	}

	.omada-landing .bg-\[url\(\/images\/hero_m\.png\)\] {
		background-image: url(https://static.tp-link.com/upload/static-page/hero_m_20250710004524j.png)
	}

	.omada-landing .from-darkGreen {
		--tw-gradient-from: var(--color-darkGreen)
	}

	.omada-landing .to-dullGreen {
		--tw-gradient-to: var(--color-dullGreen)
	}

	.omada-landing .bg-cover {
		background-size: cover
	}

	.omada-landing .bg-center {
		background-position: 50%
	}

	.omada-landing .p-4 {
		padding: calc(var(--spacing)*4)
	}

	.omada-landing .px-4 {
		padding-inline: calc(var(--spacing)*4)
	}

	.omada-landing .px-8 {
		padding-inline: calc(var(--spacing)*8)
	}

	.omada-landing .py-2 {
		padding-block: calc(var(--spacing)*2)
	}

	.omada-landing .py-16 {
		padding-block: calc(var(--spacing)*16)
	}

	.omada-landing .pb-6 {
		padding-bottom: calc(var(--spacing)*6)
	}

	.omada-landing .pl-8 {
		padding-left: calc(var(--spacing)*8)
	}

	.omada-landing .text-center {
		text-align: center
	}

	.omada-landing .text-left {
		text-align: left
	}

	.omada-landing .text-right {
		text-align: right
	}

	.omada-landing .text-3xl {
		font-size: var(--text-3xl);
		line-height: var(--tw-leading, var(--text-3xl--line-height))
	}

	.omada-landing .text-5xl {
		font-size: var(--text-5xl);
		line-height: var(--tw-leading, var(--text-5xl--line-height))
	}

	.omada-landing .leading-tight {
		--tw-leading: var(--leading-tight);
		line-height: var(--leading-tight)
	}

	.omada-landing .font-extrabold {
		--tw-font-weight: var(--font-weight-extrabold);
		font-weight: var(--font-weight-extrabold)
	}

	.omada-landing .font-light {
		--tw-font-weight: var(--font-weight-light);
		font-weight: var(--font-weight-light)
	}

	.omada-landing .font-medium {
		--tw-font-weight: var(--font-weight-medium);
		font-weight: var(--font-weight-medium)
	}

	.omada-landing .font-normal {
		--tw-font-weight: var(--font-weight-normal);
		font-weight: var(--font-weight-normal)
	}

	.omada-landing .text-black\/60 {
		color: #0009
	}

	.text-dullGreen {
		color: var(--color-dullGreen)
	}

	.omada-landing .text-limeGreen {
		color: var(--color-limeGreen)
	}

	.omada-landing .text-neonGreen {
		color: var(--color-neonGreen)
	}

	.omada-landing .text-primaryBlue {
		color: var(--color-primaryBlue)
	}

	.omada-landing .text-primaryGreen {
		color: var(--color-primaryGreen)
	}

	.omada-landing .text-white {
		color: var(--color-white)
	}

	.omada-landing .text-white\/80 {
		color: #fffc
	}

	@supports (color:color-mix(in lab, red, red)) {
		.border-white\/20 {
			border-color: color-mix(in oklab, var(--color-white)20%, transparent)
		}

		.bg-black\/50 {
			background-color: color-mix(in oklab, var(--color-black)50%, transparent)
		}

		.bg-dullGreen\/10 {
			background-color: color-mix(in oklab, var(--color-dullGreen)10%, transparent)
		}

		.text-black\/60 {
			color: color-mix(in oklab, var(--color-black)60%, transparent)
		}

		.text-white\/80 {
			color: color-mix(in oklab, var(--color-white)80%, transparent)
		}
	}

	.line-through {
		text-decoration-line: line-through
	}

	.omada-landing .backdrop-blur {
		--tw-backdrop-blur: blur(8px);
		-webkit-backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, );
		backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, )
	}

	.omada-landing .backdrop-filter {
		-webkit-backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, );
		backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, )
	}

	.omada-landing .transition {
		transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, visibility, content-visibility, overlay, pointer-events
	}

	.omada-landing .transition-all {
		transition-property: all
	}

	.omada-landing .transition-transform {
		transition-property: transform, translate, scale, rotate
	}

	.omada-landing .duration-500 {
		--tw-duration: .5s;
		transition-duration: .5s
	}

	.omada-landing .ease-in-out {
		--tw-ease: var(--ease-in-out);
		transition-timing-function: var(--ease-in-out)
	}

	.omada-landing .hero-container {
            flex-direction: row;
		      display: flex;
         }

		 .omada-landing .tab-btn {
                background-color: var(--color-gray-200);
                border-color: var(--color-gray-200);
            }
            .omada-landing .tab-btn.active {
                background-color: white;
                border-color: var(--color-primaryGreen);
            }
            .omada-landing .bg-white {
                background-color: white;
            }
            .omada-landing .bg-white-30 {
                background-color: rgba(255, 255, 255, 0.3);
            }
            .omada-landing .dot {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 100%;
            }
            .omada-landing .carousel-wrapper {
                width: 100%;
                position: relative;
                overflow: hidden;
            }
            .omada-landing .carousel-item {
                display: flex;
                flex: 0 0 100%;
                transition: transform 0.5s ease-in-out;
                box-sizing: border-box;
                gap: 3rem;
            }
            .omada-landing .case-img {
                width: 100%;
                height: auto;
                object-fit: cover;
				margin-left: px;
            }
            .omada-landing .case-text {
                width: 100%;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            .omada-landing #case-carousel {
                width: 100%;
                display: flex;
                transition: transform 0.5s ease-in-out;
                will-change: transform;
            }

         @media screen and (max-width: 64rem) {
            .omada-landing .hero-container {
               flex-direction: column;
            }
         }

         .omada-landing .max-w-page {
            width: 95rem;
         }

         @media (min-width: 1680px) {
            .omada-landing .max-w-page {
               width: 79.1666666vw;
			   max-width: 1920px;
            }
         }

		 @media (min-width: 1921px) {
			.omada-landing .max-w-page {
			   width: 79.1666666vw;
			}
		 }

         @media (max-width: 1680px) {
            .omada-landing .max-w-page {
               width: 80%;
            }
         }

		 @media (max-width: 768px) {
			.omada-landing .max-w-page {
			   width: 90%;
			}
		 }

	@media (hover:hover) {
		.hover\:scale-105:hover {
			--tw-scale-x: 105%;
			--tw-scale-y: 105%;
			--tw-scale-z: 105%;
			scale: var(--tw-scale-x) var(--tw-scale-y)
		}
	}

	@media (min-width:48rem) {
		.omada-landing .case-img {
			margin-left: 1px;
		}
		.omada-landing .md\:block {
			display: block
		}

		.omada-landing .md\:hidden {
			display: none
		}

		.omada-landing .md\:w-1\/2 {
			width: 50%
		}

		.omada-landing .md\:flex-row {
			flex-direction: row
		}

		.omada-landing .md\:grid-cols-2 {
			grid-template-columns: repeat(2, minmax(0, 1fr))
		}

		.omada-landing .md\:grid-cols-3 {
			grid-template-columns: repeat(3, minmax(0, 1fr))
		}

		:where(.omada-landing .md\:space-y-2>:not(:last-child)) {
			--tw-space-y-reverse: 0;
			margin-block-start: calc(calc(var(--spacing)*2)*var(--tw-space-y-reverse));
			margin-block-end: calc(calc(var(--spacing)*2)*calc(1 - var(--tw-space-y-reverse)))
		}

		.omada-landing .md\:self-start {
			align-self: flex-start
		}

		.omada-landing .md\:p-8 {
			padding: calc(var(--spacing)*8)
		}

		.omada-landing .md\:text-left {
			text-align: left
		}
	}

	@media (min-width:64rem) {
		.omada-landing .lg\:hidden {
			display: none
		}

		.omada-landing .lg\:w-1\/3 {
			width: 33.3333%
		}

		.omada-landing .lg\:max-w-1\/2 {
			max-width: 50%
		}

		.omada-landing .lg\:scale-100 {
			--tw-scale-x: 100%;
			--tw-scale-y: 100%;
			--tw-scale-z: 100%;
			scale: var(--tw-scale-x) var(--tw-scale-y)
		}

		.omada-landing .lg\:flex-row {
			flex-direction: row
		}

		.omada-landing .lg\:bg-\[url\(\/images\/hero\.png\)\] {
			background-image: url(https://static.tp-link.com/upload/static-page/hero_20250710004054o.png)
		}

		.omada-landing .lg\:bg-\[url\(\/images\/hook_bg\.png\)\] {
			background-image: url(https://static.tp-link.com/upload/static-page/hook_bg_20250710004613z.png)
		}

		.omada-landing .lg\:px-16 {
			padding-inline: calc(var(--spacing)*16)
		}

		.omada-landing .lg\:py-28 {
			padding-block: calc(var(--spacing)*28)
		}

		.omada-landing .lg\:grid-cols-4 {
			grid-template-columns: repeat(4, minmax(0, 1fr))
		}

		.omada-landing .lg\:text-left {
			text-align: left
		}
		.omada-landing .lg\:self-start {
			align-self: flex-start
		}
		.omada-landing .lg\:p-8 {
			padding: calc(var(--spacing)*8)
		}
	}

	@media (min-width:80rem) {
		.omada-landing .xl\:max-w-\[70\%\] {
			max-width: 70%
		}
		.omada-landing .\xl\:grid-cols-4 {
			grid-template-columns: repeat(4, minmax(0, 1fr))
		}
	}

	@media (min-width:100rem) {
		.omada-landing .\32xl\:grid-cols-2 {
			grid-template-columns: repeat(2, minmax(0, 1fr))
		}
		.omada-landing .\32xl\:flex-row {
			flex-direction: row
		}
		.omada-landing .\32xl\:bg-\[url\(\/images\/hook_bg\.png\)\] {
			background-image: url(https://static.tp-link.com/upload/static-page/hook_bg_20250710004613z.png)
		}
	}

@property --tw-scale-x {
	syntax: "*";
	inherits: false;
	initial-value: 1
}

@property --tw-scale-y {
	syntax: "*";
	inherits: false;
	initial-value: 1
}

@property --tw-scale-z {
	syntax: "*";
	inherits: false;
	initial-value: 1
}

@property --tw-rotate-x {
	syntax: "*";
	inherits: false
}

@property --tw-rotate-y {
	syntax: "*";
	inherits: false
}

@property --tw-rotate-z {
	syntax: "*";
	inherits: false
}

@property --tw-skew-x {
	syntax: "*";
	inherits: false
}

@property --tw-skew-y {
	syntax: "*";
	inherits: false
}

@property --tw-space-y-reverse {
	syntax: "*";
	inherits: false;
	initial-value: 0
}

@property --tw-border-style {
	syntax: "*";
	inherits: false;
	initial-value: solid
}

@property --tw-gradient-position {
	syntax: "*";
	inherits: false
}

@property --tw-gradient-from {
	syntax: "<color>";
	inherits: false;
	initial-value: #0000
}

@property --tw-gradient-via {
	syntax: "<color>";
	inherits: false;
	initial-value: #0000
}

@property --tw-gradient-to {
	syntax: "<color>";
	inherits: false;
	initial-value: #0000
}

@property --tw-gradient-stops {
	syntax: "*";
	inherits: false
}

@property --tw-gradient-via-stops {
	syntax: "*";
	inherits: false
}

@property --tw-gradient-from-position {
	syntax: "<length-percentage>";
	inherits: false;
	initial-value: 0%
}

@property --tw-gradient-via-position {
	syntax: "<length-percentage>";
	inherits: false;
	initial-value: 50%
}

@property --tw-gradient-to-position {
	syntax: "<length-percentage>";
	inherits: false;
	initial-value: 100%
}

@property --tw-leading {
	syntax: "*";
	inherits: false
}

@property --tw-font-weight {
	syntax: "*";
	inherits: false
}

@property --tw-backdrop-blur {
	syntax: "*";
	inherits: false
}

@property --tw-backdrop-brightness {
	syntax: "*";
	inherits: false
}

@property --tw-backdrop-contrast {
	syntax: "*";
	inherits: false
}

@property --tw-backdrop-grayscale {
	syntax: "*";
	inherits: false
}

@property --tw-backdrop-hue-rotate {
	syntax: "*";
	inherits: false
}

@property --tw-backdrop-invert {
	syntax: "*";
	inherits: false
}

@property --tw-backdrop-opacity {
	syntax: "*";
	inherits: false
}

@property --tw-backdrop-saturate {
	syntax: "*";
	inherits: false
}

@property --tw-backdrop-sepia {
	syntax: "*";
	inherits: false
}

@property --tw-duration {
	syntax: "*";
	inherits: false
}

@property --tw-ease {
	syntax: "*";
	inherits: false
}